*/.vs/
*/*.sln
*/*.vcxproj*
*__pycache__/
*.so
*.logdb
*/icon.rc
*.dll
*.exe
!Compiled/PasswordSaver.exe
!Compiled/log2database.dll
!Compiled/sha256generator.dll
!Compiled/strconverter.dll
*.bat

Log2Database/CompileLog2DatabaseLibrary
Log2Database/Log2Database
Log2Database/x64
Log2Database/driver.c

Main/translate.py
Main/Main/

SHA256Generator/SHA256Generator
SHA256Generator/x64
SHA256Generator/driver.c

SimpleEncryptionOfString/x64
SimpleEncryptionOfString/SimpleEn.eabec1c6
SimpleEncryptionOfString/driver.c

todo.txt