*/.vs/
*/*.sln
*/*.vcxproj*
*__pycache__/
*.so
*.logdb
*/icon.rc
*.dll
*.exe
*.bat

log2database/CompileLog2DatabaseLibrary
log2database/Log2Database
log2database/x64
log2database/driver.c

main/translate.py
main/Main/

sha256generator/SHA256Generator
sha256generator/x64
sha256generator/driver.c

strconverter/x64
strconverter/driver.c
strconverter/strconverter/

todo.txt